# Files
DengueMods.Rproj
.Rhistory
ESTACIONES_SMN.csv
Credentials_CRC.yml
tidymodels/data/Cordoba_training_Casos-lag-4semanas.csv
tidymodels/data/Cordoba_training_Casos-lag-2semanas.csv
tidymodels/data/Cordoba_verification_Casos-lag-2semanas.csv
tidymodels/data/Cordoba_verification.csv
tidymodels/ESTACIONES_SMN_Regiones_v5.0.xls
kmeans/ETP-ETR-ALM.csv
kmeans/METADATA_Kmeans.csv


# Folders
.Rproj.user/
bhoa/
casos/
meteo/
vectores/
models/
operativo/
tidymodels/bhoa/
tidymodels/DeCorr/
