# Files
DengueMods.Rproj
.Rhistory
ESTACIONES_SMN.csv
Credentials_CRC.yml
tidymodels/ESTACIONES_SMN_Regiones_v5.0.xls
kmeans/ETP-ETR-ALM.csv
kmeans/METADATA_Kmeans.csv


# Folders
.Rproj.user/
bhoa/
casos/
meteo/
vectores/
models/
operativo/
tidymodels/DeCorr/
tidymodels/data/